<h1>Platforms#show</h1>
<p>Find me in app/views/platforms/show.html.erb</p>
<h3> coin base </h3>
<p> bitcoin newest <%= @btc_newest_cb %> </p>
<p> bitcoin newest <%= @eth_newest_cb %> </p>

<h3> bittrex</h3>
<p> bitcoin newest <%= @btc_newest_bt %> </p>
<p> bitcoin newest <%= @eth_newest_bt %> </p>

<h3> poloniex </h3>
<%# <p> bitcoin newest <%= @btc_newest_po%> </p> %>
<%# <p> bitcoin newest <%= @eth_newest_po%> </p> %>